<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="main.java.utilities.test_listeners"/>
    </listeners>
    <test name="TestSuite1" >
        <parameter name="browsername" value="chrome"/>
        <classes >
            <class name="test.java.testscripts"> </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->